#root {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
--font-size:36px;
--color-li:rgb(180,180,180);
width: 1080px;
max-height:2025px;
--weight:400
}


.card {
  margin: 1em;
}


.box {
position: absolute;
top:calc(1em - 7px);
left:1em;
display: flex;
justify-content: center;
align-items: center;

}

.App{
  width: 1080px;
  position: relative;height: 2025px;
background-color: rgb(245,245,245);
}
.select {
  color:#000;
  font-size:var(--font-size);font-weight: 500;
  background-color: #fff;

  position: relative;
  top: -7px;
  height: calc(3em - 7px);
}
.box span{
  margin-right:.5em;
}
.App img {
width: auto;
}
footer{
  position: absolute;bottom:0;
}
.card{


  font-size: var(--font-size);
  font-weight: 500;
}
.card header,main{
    padding: 0 calc(1em - 15px);
    display: flex;justify-content: space-between;align-items: center;
}

.card header p .light{
  font-weight: var(--weight);
  color: var(--color-li);
  font-size: calc(1em - 6px);
}
.card header p .num{
  font-size: 1.5em;

}
main{
color: var(--color-li);font-weight: var(--weight);
  position: relative;


}
main div{
  height: 1px;
  bottom:-40px;
  position: absolute;
background-color: rgb(100, 100, 100);
left: 21px;right: 21px;
}
.more{
  margin-top: 80px;
  margin-bottom: 40px;
  color:rgb(0,116,231) ;
  font-weight:var(--weight);
}
.nom{
  font-size: calc(1em - 6px);
  font-weight: 500;
  color: var(--color-li);
}